language: ruby

sudo: false
cache: bundler

before_install: gem install bundler -v '~> 1.15' --conservative --minimal-deps

rvm:
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1.10
  - 2.2.7
  - 2.3.4
  - 2.4.1
